<!DOCTYPE html>
<!-- Thymeleaf Namespace 
Les fichiers HTML doivent être adaptés aux normes de XML, 
toutes les étiquettes (tag) doivent être ouvertes et fermées, ex :

<div>A div tag</div>

<br />

<meta charset="UTF-8" />

-->
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>Bonjour</h1>
	<h2 th:utext="${message}">..!..</h2>

	<!--  
      
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
         
         -->

	<a th:href="@{/personList}">Person List</a>

</body>
</html>